<!DOCYTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Registration App</title>
  </head>
  <body>
    <form action="" method="post">
      Email: <input type="text" th:field="${user.email}"/><br />
      Password: <input type="password" th:field="${user.password}" /> <br />
      <input type="submit" value="Create User" />
    </form>
    
    <div th:each="user:${allUsers}" th:text="${user.email + ' -> ' + user.password}">
<!--        <div th:each="user:${allUsers}" th:inline="text">[[${user.email + ' -> ' + user.password}]]> <a th:href="@{del/{user}(user=${luser})}">delete</a>-->

<!-- Tryed to make delete button for each user record

        <form th:action="@{/deleteUser/${user.id}}" th:object="${user}" method="post">
                        <input type="hidden" th:field="${user}">Delete</input>
                        <button type="delete" />
    
    <button type="delete" value="Delete User">Delete</button>
-->
    </div>
    
  </body> 
</html>
